{% extends "socialnetwork/navbar.html" %}

{% block content %}
<div class="d-flex flex-column justify-content-start align-items-stretch flex-nowrap bg-dark"
    id="id_follower_page_content">

    <!-- PAGE HEADER -->
    <div class="bg-primary d-flex flex-column justify-content-around align-items-center py-2 my-2"
        id="id_follower_header_row">
        <!-- PAGE TITLE-->
        <div class="row justify-content-center align-items-center">
            <span class="follower-page-name" id="id_page_name">{{page_name}}</span>
        </div>

    </div>

    <!-- PAGE CONTENT -->
    <div id="id_follower_content_div" class="container-fluid flex-grow-1 bg-primary justify-content-center align-items-center py-2">

    

    </div>
    <script>
        // Call as soon as document has loaded to display list  
        window.onload = loadFollowerPost;
        window.setInterval(loadFollowerPost, 5000);



    </script>

</div>

{% endblock %}